<h3>Danh sách Auditlog</h3>

<div class="d-flex justify-content-end mb-3 align-items-center">

  <div class="d-flex align-items-center gap-2">
    <label for="pageSizeSelect" class="form-label mb-0 me-2">Hiển thị:</label>
    <select class="form-select w-auto" id="pageSizeSelect" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
      <option [value]="50">50</option>
    </select>

    <input type="text" class="form-control d-inline-block w-auto me-2" placeholder="Tìm kiếm..." [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" />
    <button class="btn btn-primary" (click)="onSearch()">Tìm</button>
  </div>
</div>


  <div class="scrollable-table-container">
    <table class="table table-bordered table-hover sticky-header mb-0">
    <thead>
      <tr>
        <th>STT</th>
        <th>Người thực hiện</th>
        <th>Hành động</th>
        <th>Bảng</th>
        <th>Thời gian</th>
        <th>Giá trị cũ</th>
        <th>Giá trị mới</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of data; let i = index">
        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td>{{ obj.username }}</td>
        <td>{{ obj.action }}</td>
        <td>{{ obj.tableName }}</td>
        <td>{{ obj.timestamp | date: 'dd/MM/yyyy HH:mm' }}</td>
        <!-- Giá trị cũ -->
        <td>
          <div *ngFor="let key of objectKeys(obj.parsedOldValues || {})">
            <strong>{{ key }}:</strong> {{ obj.parsedOldValues?.[key] }}
          </div>
        </td>
        <!-- Giá trị mới -->
        <td>
          <div *ngFor="let key of objectKeys(obj.parsedNewValues || {})">
            <strong>{{ key }}:</strong>
            <span [ngClass]="{
              'text-success': obj.parsedNewValues?.[key] !== obj.parsedOldValues?.[key],
              'text-danger': obj.parsedNewValues?.[key] === obj.parsedOldValues?.[key]
            }">
              {{ obj.parsedNewValues?.[key] }}
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <p class="text-end">Tổng số bản ghi: {{ totalRecord }}</p>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">Trước</a>
      </li>

      <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="page === currentPage">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)">Sau</a>
      </li>
    </ul>
  </nav>
